/*champion box */
.champion {
    text-align: center;
    position: relative;
}

/*grid layout */
.champions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*column width*/
    gap: 20px; /* gap between champion boxes */
    padding: 20px;
}

/*champion image */
.champion img {
    max-width: 100%;
    height: auto;
}

/*champion names and weight classes */
.champion h2,
.champion p {
    margin: 10px 0;
}

/*HOVER over champion*/
.additional-info {
    display: none;
    transition: opacity 0.3s, transform 0.3s;
}

.champion:hover .additional-info {
    display: block;
}